* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.form_entradas {
    height: 100vh;
    width: 100vw;
}

.box {
    display: block;
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
    background-color: white;
}

form {
    border: solid 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

hr {
    border: solid 1px rgba(0, 0, 0, 0.25);
}

h1, h2, .instruccion {
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

.center {
    text-align: center;
}


.instruccion {
    text-align: left;
}

.entradas {
    padding-top: 10px;
    overflow: hidden;
}

.entradas .line {
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}

    .entradas .line p {
        font-size: 14px;
        float: left;
        width: 150px;
        line-height: 50px;
        font-weight: bold;
    }

    .entradas .line input,
    .entradas .line select,
    .entradas .line textarea {
        font-size: 13px;
        float: right;
        width: 305px;
        height: 50px;
        padding: 0px 15px;
        background-color: transparent;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.075);
        border-left: solid 3px rgba(0, 0, 0, 0.2);
    }

        .entradas .line input.invalid,
        .entradas .line select.invalid,
        .entradas .line textarea.invalid {
            background-color: rgba(255, 0, 0, 0.075);
            border-left-color: red;
        }

        .entradas .line input.valid,
        .entradas .line select.valid,
        .entradas .line textarea.valid {
            background-color: rgba(0, 255, 0, 0.075);
            border-left-color: green;
        }

    .entradas .line textarea {
        padding: 15px;
    }

    .entradas .line .textarea,
    .entradas .line textarea {
        height: 100px;
    }

    .entradas .line .textarea {
        line-height: 100px;
    }

    .entradas .line .buttons {
        text-align: center;
        height: 40px;
    }

        .entradas .line .buttons button {
            height: inherit;
            padding: 0px 20px;
            margin: 0px 10px;
            border: none;
            color: white;
            background-color: #444444;
        }

        .entradas .line .buttons button[type="submit"] {
            background-color: rgb(0, 69, 158);
        }

.listado {
    padding: 20px 0px;
}

    .listado .content {
        width: 80%;
        margin: auto;
    }

    .listado .line {
        display: block;
        overflow: hidden;
    }

    .listado .opciones {
        border-bottom: solid 1px rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }

    .listado .buttons {
        float: right;
        height: 40px;
    }

        .buttons .opcion {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            color: green;
            background-color: #e9e9e9;
            padding: 0px 20px;
            margin: 0px 10px;
            border-top: solid 1px rgba(0, 0, 0, 0.075);
            border-left: solid 1px rgba(0, 0, 0, 0.075);
            border-right: solid 1px rgba(0, 0, 0, 0.075);
            cursor: pointer;
            text-decoration: none;
        }

        .listado .buttons .opcion.activo {
            color: white;
            background-color: rgb(0, 69, 158);
        }

        .listado .buttons .opcion:first-child {
            margin-left: 0px;
        }

        .listado .buttons .opcion:last-child {
            margin-right: 0px;
        }

    .listado .block {
        display: none;
    }

    .listado .block.activo {
        display: block;
        min-height: 150px;
    }

    .listado .block .registro {
        padding: 40px 0px;
        overflow: hidden;
        border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    }

    .listado .block .fecha {
        text-align: right;
    }

    .listado .block .buttons_right {
        margin-top: 20px;
        float: right;
    }

    .listado .block .buttons_right button {
        border: none;
        outline: none;
        height: 40px;
        padding: 0px 20px;
        color: white;
        background-color: rgb(0, 69, 158);
        cursor: pointer;
    }

.mensaje {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #103c66;
    background-color: rgba(184, 221, 255, 0.3);
    border: solid 1px #b8ddff;
    border-radius: 10px;
}

.mensaje.error {
    color: #661010;
    background-color: rgba(255, 184, 184, 0.3);
    border: solid 1px #ffb8b8;
}

.mensaje.correcto {
    color: #106623;
    background-color: rgba(184, 255, 196, 0.3);
    border: solid 1px #b8ffd0;
}

/*Dinamic*/
.oculto {
    display: none;
}

.mostrar {
    display: block;
}