*{
    box-sizing: border-box;
}

.content{

    text-align: center;
}

.relleno{
    margin: auto;
    width: 500px;
    border: solid 3px gray;
}

.encabezado{ 
    width: 460px;
    border-bottom: solid 2px gray;
    margin-left: 20px;
    margin-bottom: 10px;
}



.preguntas{
    display: inline;
}


.preguntas .pregunta{
    overflow: hidden;
}

.preguntas .pregunta p{
    height: 40px;
    width: 100px;
    float: left;
    align-items: center;
}

.preguntas .pregunta input, select{
    height: 40px;
    width: 380px;
    margin-right: 10px;
    align-items: center;
    float: right;
}

.preguntas .pregunta input,
.preguntas .pregunta select,
.preguntas .pregunta textarea{
    padding: 0px 15px;
}

.preguntas .pregunta input:invalid,
.preguntas .pregunta select:invalid,
.preguntas .pregunta textarea:invalid{
    background-color: rgb(241, 185, 185);
}

.preguntas .pregunta input:valid,
.preguntas .pregunta select:valid,
.preguntas .pregunta textarea:valid{
    background-color: rgb(185, 241, 194);
}


.botones .boton button {
    padding: 10px 5px;
    background-color: gray;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}

.botones .boton button:hover{
    text-transform: uppercase;
    background-color: blue;
}

.listado{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.listado .botonesArriba{
    height: 40px;
    overflow: hidden;
    border-bottom: solid 2px gray;
}


.listado .botonesArriba .botonesDerecha{
    float: right;
}

.listado .botonesArriba .botonesDerecha button{
    margin-left: 15px;
    padding: 10px 25px;
    color: green;
}

.listado .informacion{
    border: solid 1px gray;
    overflow: hidden;
}

.listado .info h3{
    text-align: left;
    margin-left: 30px;
    padding: 0;
}

.listado .info p{
    font: bold;
    text-align: left;
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.listado .info .fecha{
    margin-right: 30px;
    text-align: right;
}

.listado .informacion .botonesListado{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.listado .informacion .botonesListado button{
    margin-left: 15px;
    padding: 10px 25px;
    color: green;
}





